Package: sh.tat.tndrauto
Name: Tynder
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Likes new Tinder cards as they come (approximately every 2 seconds).
Maintainer: Tatsh
Author: Tatsh
Section: Tweaks
